# Ignore all dotfiles by default
.*

# But allow these specific ones
!.git
!.github
!.prettierignore
!.prettierrc
!.eslintrc.cjs
!.prettierrc.json
!.eslint.config.mjs

node_modules
dist
src/generated
